@model Hephaestus.ContentTypes.Models.Interfaces.IControlAnnouncementBlocks

<div class="pageContainer">
    <div class="container">
        @Html.PropertyFor(x => x.AnnouncementContentArea)
    </div>
</div>
