@using TRM.Web.Constants
@model IList<TRM.Web.Models.ViewModels.EntryPartialViewModel>
@if (!Model.Any())
{
    <div class="col-xs-12">
        <div class="alert alert-info text-center">
            @Html.TranslateFallback(StringResources.NoResultsFound, "Your search returned no results, please try searching again")
        </div>
    </div>
}
else
{
    foreach (var product in Model)
    {
        <article class="trmVariant">
            @{ // ReSharper disable once Mvc.PartialViewNotResolved
            Html.RenderPartial("PagePartials/TrmEntryPartial", product); }
        </article>
                    }
                }