@model TRM.Web.Models.Blocks.StandardCarouselBlock
<div class="slider-arrow blockContent" @Html.EditAttributes(m => m.Content)>
    @Html.DisplayFor(m => m.Content, new { childrencssclass = "col-xs-12"})
</div>