@model Hephaestus.ContentTypes.Models.Interfaces.IControlAnnouncementBlocks

<div class="container-fluid">
    <div class="row">
        @Html.PropertyFor(x => x.AnnouncementContentArea)
    </div>
</div>
