@using TRM.Web.Constants
@model IList<TRM.Web.Models.ViewModels.EntryPartialViewModel>

@{
    var totalItems = ViewData["TotalItems"];
    var totalPagesCount = ViewData["TotalPagesCount"];
}

@Html.HiddenFor(x => totalItems)
@Html.HiddenFor(x => totalPagesCount)

@if (!Model.Any())
{
    <div class="col-xs-12">
        <div id="noResult" class="alert alert-info text-center">
            @Html.TranslateFallback(StringResources.NoResultsFound, "Your search returned no results, please try searching again")
        </div>
    </div>
}
else
{
    foreach (var product in Model)
    {
        <div class="col-12 col-md-6 col-lg-4 d-flex">
            @{
                // ReSharper disable once Mvc.PartialViewNotResolved
                Html.RenderPartial("PagePartials/TrmEntryPartial", product);
            }
        </div>
    }
}