@using EPiServer.Core
@using Hephaestus.ContentTypes.Business.Extensions
@model TRM.Web.Models.Blocks.EnhancedCarouselSlideBlock
@if (Model == null){return;}
<div class="block carouselItem col-xs-12 height-medium @Model.BackgroundImageAlignment.DescriptionAttr()">
    <div class="banner-bg property @Model.BackgroundColour.DescriptionAttr()">

        @if (Model.BackgroundImage != null && !ContentReference.IsNullOrEmpty(Model.BackgroundImage.LgImage))
        {
           @Html.PropertyFor(a => a.BackgroundImage)
        }
    </div>
</div>