<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
</head>

<body>
	<div class="page-container">
		<div class="container pb-2 mt-1 mt-md-0">
			<div class="row">
				<main id="content" class="pdf-printer col-xs-12">
					<div class="invoice-info row">
						<div class="col-xs-12 col-sm-6">
							<h6>Mr John Doe</h6>
							<h6>1 Whiskey Street</h6>
							<h6>London</h6>
							<h6>SW3 5BY</h6>
							<h6>United Kingdom</h6>
						</div>
						<div class="col-xs-12 col-sm-6">
							<h4>Invoice</h4>
							<h6>Account: AX-BULL-1234567890</h6>
							<h6>Period: 1st January 2018 - 31st March 2018</h6>
							<h6>Invoice Date: 23 April 2018</h6>
						</div>
						<div class="col-xs-12 col-sm-6">

						</div>
						<div class="col-xs-12 col-sm-6">
							<h4>Invoice Total</h4>
							<h6>£4,015.96</h6>
						</div>
					</div>
					<div class="invoice-detail row">
						<div class="col-xs-12">
							<div class="product-fee">
								<h3 style="margin-bottom: 15px;">Storage and Management Fees</h3>
								<div class="panel panel-default panel-order">
									<div class="panel-header item-header">
										<div class="row">
											<div class="col-xs-12 col-sm-7">
												<strong>Product</strong>
											</div>
											<div class="col-xs-12 col-sm-1">
												<strong>From</strong>
											</div>
											<div class="col-xs-12 col-sm-1">
												<strong>To</strong>
											</div>
											<div class="col-xs-12 col-sm-1">
												<strong>Total Ex Vat</strong>
											</div>
											<div class="col-xs-12 col-sm-1">
												<strong>Vat</strong>
											</div>
											<div class="col-xs-12 col-sm-1">
												<strong>Total Fee</strong>
											</div>
										</div>
									</div>
									<div class="panel-body item-row">
										<div class="row">
											<div class="col-xs-12 col-sm-7">
												<span>2015 Britiannia 1 oz Gold Bullion 10 Coin Tube</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>1/1/2018</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>3/31/2018</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£1,281.73</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£256.35</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£1,538.08</span>
											</div>
										</div>
									</div>
									<div class="panel-body item-row">
										<div class="row">
											<div class="col-xs-12 col-sm-7">
												<span>2016 Britiannia 1 oz Gold Bullion 10 Coin Tube</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>1/10/2018</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>3/20/2018</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£89.30</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£17.86</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£107.16</span>
											</div>
										</div>
									</div>
									<div class="panel-body item-row">
										<div class="row">
											<div class="col-xs-12 col-sm-7">
												<span>2017 Britiannia 1 oz Gold Bullion 10 Coin Tube</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>2/10/2018</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>3/31/2018</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£321.17</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£64.23</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£385.40</span>
											</div>
										</div>
									</div>
									<div class="panel-body item-row">
										<div class="row">
											<div class="col-xs-12 col-sm-7">
												<span>Signature Gold</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>1/1/2018</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>31/1/2018</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£967.12</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£193.42</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£1,160.54</span>
											</div>
										</div>
									</div>
									<div class="panel-body item-row">
										<div class="row">
											<div class="col-xs-12 col-sm-7">
												<span>Signature Silver</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>1/10/2018</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>2/9/2018</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£123.11</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£24.62</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£147.73</span>
											</div>
										</div>
									</div>
									<div class="panel-body item-row">
										<div class="row">
											<div class="col-xs-12 col-sm-7">
												<span>Signature Platinum</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>1/10/2018</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>3/31/2018</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£564.20</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£112.84</span>
											</div>
											<div class="col-xs-12 col-sm-1">
												<span>£677.04</span>
											</div>
										</div>
									</div>
									<div class="panel-footer item-footer">
										<div class="row">
											<div class="col-xs-12 col-sm-7">
												<strong>Total</strong>
											</div>
											<div class="col-xs-12 col-sm-1">
											</div>
											<div class="col-xs-12 col-sm-1">
											</div>
											<div class="col-xs-12 col-sm-1">
												<strong>£3,346.63</strong>
											</div>
											<div class="col-xs-12 col-sm-1">
												<strong>£669.33</strong>
											</div>
											<div class="col-xs-12 col-sm-1">
												<strong>£4,015.96</strong>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>
</body>
</html>
