@using TRM.Web.Extentions
@using TRM.Web.Constants

<a href="" title="Paddington™ Silver Proof 2-Coin Series">
	<figure class="" ng-class="">
		<div class="frontImg">
			<div class="promoTag__wrapper">
				<div>
					<span class="promoTag">
						2-Coin Series
					</span>
				</div>
			</div>
			<picture>
				<source media="(min-width: 1200px)" ng-srcset="/Static/img/catalogue/coin-year.jpg?width=580" srcset="/globalassets/the-royal-mint/images/pages/shop/events/paddington/coin-2/continuity-final.jpg?width=580">
				<source media="(min-width: 992px)" ng-srcset="/Static/img/catalogue/coin-year.jpg?width=442" srcset="/globalassets/the-royal-mint/images/pages/shop/events/paddington/coin-2/continuity-final.jpg?width=442">
				<source media="(min-width: 768px)" ng-srcset="/Static/img/catalogue/coin-year.jpg?width=533" srcset="/globalassets/the-royal-mint/images/pages/shop/events/paddington/coin-2/continuity-final.jpg?width=533">
				<source media="(min-width: 0px)" ng-srcset="/Static/img/catalogue/coin-year.jpg?width=442" srcset="/globalassets/the-royal-mint/images/pages/shop/events/paddington/coin-2/continuity-final.jpg?width=442">
				<img ng-src="/Static/img/catalogue/coin-year.jpg?width=580" alt="Paddington™ Silver Proof 2-Coin Series" class="img-responsive" src="/globalassets/the-royal-mint/images/pages/shop/events/paddington/coin-2/continuity-final.jpg?width=580">
			</picture>
		</div>
	</figure>
</a>

<h3 class="h5 item-title">
	<a title="Paddington™ Silver Proof 2-Coin Series" href="/our-coins/events/paddington/paddington-silver-proof-2-coin-series/">
		Britannia 2017 UK Five-Ounce Gold Proof Coin
	</a>
</h3>
<div class="item-details">
	<span class="text-silver">
		Second titile line, if populated
	</span>
</div>

<div class="item-price">
	<div class="item-price-info h5 mt-0 mb-0">
		<span class="estimated display-xs pull-right">Estimated</span>
		<p>From £32,414.36 <span class="small-text">ex VAT</span></p>
	</div>
</div>
<div class="item-extras">
	<p ng-class="1| stockClass" class="mb-1x text-success">In Stock</p>
</div>
<a class="btn btn-default btn-block mb-1x">See more</a>

<div class="row">
	<div class="col-xs-5 hidden-xs">

	</div>
</div>
