@using TRM.Web.Constants
@using TRM.Web.Models.Layouts

@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.EcomPrototypePage, Hephaestus.CMS.ViewModels.ILayoutModel>
@{
	var myLayout = Model.Layout as TrmLayoutModel;
	if (myLayout == null)
	{
		throw new InvalidCastException(StringConstants.Layout.InvalidLayout);
	}

	var HasFunds = true;
	var HasHistory = false;
	var AllowCredit = true;
}
<div class="pageContainer">
	<div class="row">
		@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.TopContent)
	</div>
	@Html.Partial("_Breadcrumb", myLayout.Breadcrumb)
	<div class="container account-dashboard">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header">
					<h1>Holli, Welcome Back!</h1>
				</div>
			</div>
		</div>
		<div class="row">
			@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.MiddleContent)
		</div>
		<!-- KYC checking blocks -->
		<div class="row">
			<div class="block toggleContainerBlock col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-xs-12">
						<div class="block-container bullionKYCValidationBlock">
							<div class="blockContent">
								<div class="alert alert-warning mb-0 p-1x">
									<i class="h6 trmi trmi-exclamation mt-0 mb-0 mr-1x" data-toggle="tooltip" data-placement="top" data-original-title="Title"></i>
									<div class="display-inline-block vertical-top">
										<h5 class="h5">Your Investment Registration is not complete</h5>
										<p>Your Investment account is currently inactive. To begin investing in Bullion please supply the outstanding identity documents requested.</p>
										<a href="#" class="btn btn-bg-orange">
											Confirm your identity
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End KYC checking blocks -->
		@if (AllowCredit)
		{
					<!-- Credit Account -->
			<div class="row mb-2x">
				<div class="col-xs-12">
					<div class="panel-box bg-gray account-credit-wrapper">
						<h3 class="title hidden-xs">Credit Account</h3>
						<h3 class="title no-underline visible-xs">
							<a data-collapse-xs-sm data-target="#creditAccount" href="#" class="">Credit Account</a>
						</h3>
						<div class="collapse-xs" id="creditAccount">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque nibh leo, et eleifend elit.</p>
							<div class="account-credit-actions">
								<a href="" class="btn btn-block btn-default">Account Balance</a>
								<a href="" class="btn btn-block btn-default">View Statement History</a>
								<a href="" class="btn btn-block btn-secondary">Make a payment</a>
							</div>
						</div>
					</div>
				</div>
			</div>
					<!-- End Credit Account -->
		}
		<!-- Account Menu -->
		<div class="row">
			<div class="account-navigation-wrapper mb-2x">
				<div class="block stretcherBlock col-xs-12 col-sm-12">
					<div class="block-container">
						<div class="blockContent">
							<div class="row stretch-items-container has-two-children">
								<div class="block toggleContainerBlock col-xs-12 col-sm-12">
									<div class="row">
										<div class="col-xs-12">
											<div class="block-container toggle-block-container panel-box bg-gray">
												<div class="blockContent">
													<h3 class="title hidden-xs hidden-sm">
														My Retail Orders
													</h3>
													<h3 class="title no-underline visible-xs visible-sm">
														<a data-toggle="collapse" data-collapse-xs-sm="" data-target="#newId1" role="button" class="">My Retail Orders</a>
													</h3>
													<div class="mt-1x collapse-xs collapse-sm" id="newId1">
														<div class="row">
															<div class="block groupLinkBlock col-xs-12 col-sm-12">
																<div class="row grouplink-block">
																	<div class="col-xs-12">
																		<a class="cta-link" href="">View Open Orders</a>
																		<a class="cta-link" href="">View Closed Orders</a>
																		<a class="cta-link" href="">How to return an item</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="block toggleContainerBlock col-xs-12 col-sm-12">
									<div class="row">
										<div class="col-xs-12">
											<div class="block-container toggle-block-container panel-box bg-gray">
												<div class="blockContent">
													<h3 class="title hidden-xs hidden-sm">
														My Account Information
													</h3>
													<h3 class="title no-underline visible-xs visible-sm">
														<a data-toggle="collapse" data-collapse-xs-sm data-target="#newId2" role="button" class="">My Account Information</a>
													</h3>
													<div class="mt-1x collapse-xs collapse-sm" id="newId2">
														<div class="row">
															<div class="block groupLinkBlock col-xs-12 col-sm-12">
																<div class="row grouplink-block">
																	<div class="col-xs-12">
																		<a class="cta-link" href="">Update Personal Information</a>
																		<a class="cta-link" href="">Manage Addresses</a>
																		<a class="cta-link" href="">Contact Preferences</a>
																		<a class="cta-link" href="">Change Security Details</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Account Menu -->
		<div class="row">
			@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.BottomContent)
		</div>
	</div>
</div>