@using TRM.Web.Constants
@using TRM.Web.Models.Layouts

@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.EcomPrototypePage, Hephaestus.CMS.ViewModels.ILayoutModel>
@{
	var myLayout = Model.Layout as TrmLayoutModel;
	if (myLayout == null)
	{
		throw new InvalidCastException(StringConstants.Layout.InvalidLayout);
	}

	var HasFunds = true;
	var HasHistory = true; //false;
	var AllowCredit = false;
	var AccountActive = false;
}
<div class="pageContainer">
	<div class="row">
		@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.TopContent)
	</div>
	@Html.Partial("_Breadcrumb", myLayout.Breadcrumb)
	<div class="container account-dashboard">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h1 class="h1 mt-0">Custom service</h1>
				</div>
				<div class="col-xs-12 col-sm-6 mt-1x">
					<div class="text-right">
						<a href="">Back to Account Dashboard</a>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-xs-12 mb-2x">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dolor elit, posuere a est in, commodo pellentesque tellus. Proin facilisis leo urna, ac ullamcorper neque suscipit quis. Vestibulum venenatis nisl elementum sodales hendrerit. Aliquam maximus eget justo sed dapibus. Donec mauris risus, rutrum euismod dui venenatis, finibus commodo erat. Nullam tempor augue euismod, euismod ex et, mollis augue</p>
			</div>
			@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.MiddleContent)
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-9">
				<div class="input-group mb-1x">
					<input type="text" class="form-control" id="" placeholder="Please enter users email, account number or name..." data-original-title="" title="">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default mb-1x">Search Users</button>
					</span>
				</div>
			</div>
		</div>
        <div class="panel panel-default panel-secondary">
            <div class="panel-body item-row">
				<div class="panel panel-default panel-order">
					<div class="panel-body item-row hidden-xs">
						<div class="row">
							<div class="col-xs-12 col-sm-2">
								<span class="bold">User Name </span>
							</div>
							<div class="col-xs-12 col-sm-4">
								<span class="bold">Email </span>
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="bold">Account Status </span>
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="bold">Account Type </span>
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="bold">Action </span>
							</div>
						</div>
					</div>
					<div class="panel-body item-row">
						<div class="row">
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">User Name: </span>holli.barrett
							</div>
							<div class="col-xs-12 col-sm-4">
								<span class="visible-xs-inline strong">Email: </span>holli.barrett@maginus.com
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Status: </span>Active
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Type: </span>Consumer
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Action: </span><a class="">Impersonate User </a>
							</div>
						</div>
					</div>
					<div class="panel-body item-row">
						<div class="row">
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">User Name: </span>holli.barrett1
							</div>
							<div class="col-xs-12 col-sm-4">
								<span class="visible-xs-inline strong">Email: </span>holli.barrett@maginus.com
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Status: </span>Active
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Type: </span>Consumer
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Action: </span><a class="">Impersonate User </a>
							</div>
						</div>
					</div>
					<div class="panel-body item-row">
						<div class="row">
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">User Name: </span>holli.barrett2
							</div>
							<div class="col-xs-12 col-sm-4">
								<span class="visible-xs-inline strong">Email: </span>holli.barrett@maginus.com
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Status: </span>Active
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Type: </span>Consumer
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Action: </span><a class="">Impersonate User </a>
							</div>
						</div>
					</div>
					<div class="panel-body item-row">
						<div class="row">
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">User Name: </span>holli.barrett3
							</div>
							<div class="col-xs-12 col-sm-4">
								<span class="visible-xs-inline strong">Email: </span>holli.barrett@maginus.com
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Status: </span>Active
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Type: </span>Consumer
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Action: </span><a class="">Impersonate User </a>
							</div>
						</div>
					</div>
					<div class="panel-body item-row">
						<div class="row">
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">User Name: </span>holli.barrett4
							</div>
							<div class="col-xs-12 col-sm-4">
								<span class="visible-xs-inline strong">Email: </span>holli.barrett@maginus.com
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Status: </span>Active
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Type: </span>Consumer
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Action: </span><a class="">Impersonate User </a>
							</div>
						</div>
					</div>
					<div class="panel-body item-row">
						<div class="row">
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">User Name: </span>holli.barrett5
							</div>
							<div class="col-xs-12 col-sm-4">
								<span class="visible-xs-inline strong">Email: </span>holli.barrett@maginus.com
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Status: </span><span class="text-red">Locked</span>
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Type: </span>Consumer
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Action: </span><a class="">Impersonate User </a>
							</div>
						</div>
					</div>
					<div class="panel-body item-row">
						<div class="row">
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">User Name: </span>holli.barrett6
							</div>
							<div class="col-xs-12 col-sm-4">
								<span class="visible-xs-inline strong">Email: </span>holli.barrett@maginus.com
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Status: </span><span class="text-red">Locked</span>
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Type: </span>Consumer
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Action: </span><a class="">Impersonate User </a>
							</div>
						</div>
					</div>
					<div class="panel-body item-row">
						<div class="row">
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">User Name: </span>holli.barrett7
							</div>
							<div class="col-xs-12 col-sm-4">
								<span class="visible-xs-inline strong">Email: </span>holli.barrett@maginus.com
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Status: </span><span class="text-red">Locked</span>
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Type: </span>Consumer
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Action: </span><a class="">Impersonate User </a>
							</div>
						</div>
					</div>
					<div class="panel-body item-row">
						<div class="row">
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">User Name: </span>holli.barrett8
							</div>
							<div class="col-xs-12 col-sm-4">
								<span class="visible-xs-inline strong">Email: </span>holli.barrett@maginus.com
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Status: </span><span class="text-red">Locked</span>
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Type: </span>Consumer
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Action: </span><a class="">Impersonate User </a>
							</div>
						</div>
					</div>
					<div class="panel-body item-row">
						<div class="row">
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">User Name: </span>holli.barrett9
							</div>
							<div class="col-xs-12 col-sm-4">
								<span class="visible-xs-inline strong">Email: </span>holli.barrett@maginus.com
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Status: </span><span class="text-red">Locked</span>
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Account Type: </span>Consumer
							</div>
							<div class="col-xs-12 col-sm-2">
								<span class="visible-xs-inline strong">Action: </span><a class="">Impersonate User </a>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
		<div class="row">
			<div class="col-xs-12 col-sm-5 mb-xs-1x"></div>
			<div class="col-xs-12 col-sm-7 text-right-sm-up">
				<ul class="pagination pull-right-sm-up">
					<li>
						<a href="" aria-label="Previous">
							<span aria-hidden="true"><i class="trmi trmi-angle-left" aria-hidden="true"></i></span>
						</a>
					</li>
					<li class="active">
						<span>1 <span class="sr-only">(current)</span></span>
					</li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li>
						<a href="" aria-label="Next">
							<span aria-hidden="true"><i class="trmi trmi-angle-right" aria-hidden="true"></i></span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- End Investment Vault -->
		<div class="row">
			@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.BottomContent)
		</div>
	</div>
</div>