@using TRM.Web.Constants
@using TRM.Web.Models.Layouts
@using TRM.Shared.Extensions
@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.HelpPage, Hephaestus.CMS.ViewModels.ILayoutModel>

@{
    var myLayout = Model.Layout as TrmLayoutModel;
    if (myLayout == null)
    {
        throw new InvalidCastException(StringConstants.Layout.InvalidLayout);
    }
}

@if (!myLayout.HideSiteBreadcrumb)
{
    Html.RenderPartial("RoyalMint2020/_Breadcrumb", myLayout.Breadcrumb);
}

<div class="mod-section section-copy-left">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="bg-beige pt-5 pb-3">
                <div class="row justify-content-center">
                    <div class="col-11 col-md-10">
                        <h1 @Html.EditAttributes(m => m.CurrentPage.Heading)>@myLayout.PageHeading</h1>
                        <div @Html.EditAttributes(m => m.CurrentPage.MainBody)>
                            @{ var content = Html.ParseXhtmlString(Model.CurrentPage.MainBody); }
                            @Html.DisplayFor(m => content)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
