@{
    Layout = null;
}
<!doctype html>
<html lang="en-gb">
<head>
    <meta name="robots" content="noindex" />
    <meta charset="utf-8" />
    <title>The Royal Mint Storybook PREVIEW</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html {
            line-height: 1.15;
            -webkit-text-size-adjust: 100%
        }

        body {
            margin: 0
        }
    </style>
</head>

<body>
    <iframe src="~/Static/royalmint2020/storybook" style="border: none;width: 100%;height: 100vh;" name="storybook" allowfullscreen></iframe>
</body>

</html>


