@using Hephaestus.CMS.ViewModels
@using TRM.Web.Models.Pages

@model IPageViewModel<LTDocumentUploadPage, ILayoutModel>

<br />
<br />
<h2>Welcome To - Little Treasures Document Upload Page</h2>
<br />
<br />