<div class="container">
    <div class="row">
        <div class="stretcherBlock col-xs-12">
            <div class="blockContent">
                <div class="row">
                    <div class="col-xs-12  col-xs-12 col-sm-6 col-md-4 bg-tr mb-1x borders-none   panel-blur content-left full   block panelBlock">
                        <div class="block-background">
                            <!-- Background Image -->
                            <picture>
                                <source srcset="/Static/img/content/visit-xs.jpg" media="(max-width: 767px)">
                                <source srcset="/Static/img/content/visit-xs.jpg" media="(max-width: 992px)">
                                <source srcset="/Static/img/content/visit-lg.jpg" media="(max-width: 1200px)">

                                <source srcset="/Static/img/content/visit-heartland.jpg" media="(min-width: 1200px)">
                                <img class="BG Image Class" alt="BG Alt Tag" title="BG Alt Tag" src="/Static/img/content/visit-heartland.jpg">
                            </picture>
                        </div>
                        <div class="block-container">
                            <!-- Block Content -->
                            <div class="blockContent bg-color">
                                <!-- Default Content -->
                                <div class="defaultContent text-slateblue p-1x text-right">
                                    <div class="content ">
                                        <!-- Default Heading -->
                                        <div class="borders">
                                            <h3>Visit our heartland</h3>
                                        </div>
                                        <!-- WYSIWYG XHMTL Content -->

                                    </div>
                                </div>
                                <!-- Hover Content -->
                                <div class="hoverContent bg-color text-slateblue p-1x text-right ">
                                    <div class="content">
                                        <!-- Hover Heading -->
                                        <div class="borders">
                                            <h3>Additional Hover Content</h3>
                                        </div>
                                        <!-- WYSIWYG XHMTL Content -->
                                        <p>Lorem ipsum dolor sit amet, consectetur </p>										<!-- Hover Link -->
                                        <div class="borders mb-1x">

                                            <a href="#" class="btn-arrow" title="Read More">Read More</a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- //// PLEASE IGNORE \\\\
                    Video ($video) - Not scope in Phase one  -->

                    <div class="col-xs-12  col-xs-12 col-sm-6 col-md-4 hidden-xs hidden-sm bg-tc mb-1x borders-none   panel-blur content-left full   block panelBlock">
                        <div class="block-background">
                            <!-- Background Image -->
                            <picture>
                                <source srcset="/Static/img/content/queen.jpg" media="(max-width: 767px)">
                                <source srcset="/Static/img/content/queen.jpg" media="(max-width: 992px)">
                                <source srcset="/Static/img/content/queen.jpg" media="(max-width: 1200px)">

                                <source srcset="/Static/img/content/queen.jpg" media="(min-width: 1200px)">
                                <img class="BG Image Class" alt="BG Alt Tag" title="BG Alt Tag" src="/Static/img/content/queen.jpg">
                            </picture>
                        </div>
                        <div class="block-container">
                            <!-- Block Content -->
                            <div class="blockContent bg-color">
                                <!-- Default Content -->
                                <div class="defaultContent text-white p-1x text-center">
                                    <div class="content ">
                                        <!-- Default Heading -->
                                        <div class="borders">
                                            <h3>Mark an iconic day</h3>
                                        </div>
                                        <!-- WYSIWYG XHMTL Content -->

                                    </div>
                                </div>
                                <!-- Hover Content -->
                                <div class="hoverContent bg-color text-white p-1x text-center ">
                                    <div class="content">
                                        <!-- Hover Heading -->
                                        <div class="borders">
                                            <h3>Additional Hover Content</h3>
                                        </div>
                                        <!-- WYSIWYG XHMTL Content -->
                                        <p>Lorem ipsum dolor sit amet, consectetur </p>										<!-- Hover Link -->
                                        <div class="borders mb-1x">

                                            <a href="#" class="btn-arrow" title="Read More">Read More</a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- //// PLEASE IGNORE \\\\
                    Video ($video) - Not scope in Phase one  -->

                    <div class="col-xs-12  col-xs-12 col-sm-6 col-md-4 bg-tl mb-1x borders-none   panel-blur content-left full   block panelBlock">
                        <div class="block-background">
                            <!-- Background Image -->
                            <picture>
                                <source srcset="/Static/img/content/build-xs.jpg" media="(max-width: 767px)">
                                <source srcset="/Static/img/content/build-xs.jpg" media="(max-width: 992px)">
                                <source srcset="/Static/img/content/build-lg.jpg" media="(max-width: 1200px)">

                                <source srcset="/Static/img/content/build-lg.jpg" media="(min-width: 1200px)">
                                <img class="BG Image Class" alt="BG Alt Tag" title="BG Alt Tag" src="/Static/img/content/build-lg.jpg">
                            </picture>
                        </div>
                        <div class="block-container">
                            <!-- Block Content -->
                            <div class="blockContent bg-color">
                                <!-- Default Content -->
                                <div class="defaultContent text-slateblue p-1x text-left">
                                    <div class="content ">
                                        <!-- Default Heading -->
                                        <div class="borders">
                                            <h3>Build businesses</h3>
                                        </div>
                                        <!-- WYSIWYG XHMTL Content -->

                                    </div>
                                </div>
                                <!-- Hover Content -->
                                <div class="hoverContent bg-color text-slateblue p-1x text-left ">
                                    <div class="content">
                                        <!-- Hover Heading -->
                                        <div class="borders">
                                            <h3>Additional Hover Content</h3>
                                        </div>
                                        <!-- WYSIWYG XHMTL Content -->
                                        <p>Lorem ipsum dolor sit amet, consectetur </p>										<!-- Hover Link -->
                                        <div class="borders mb-1x">

                                            <a href="#" class="btn-arrow" title="Read More">Read More</a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- //// PLEASE IGNORE \\\\
                    Video ($video) - Not scope in Phase one  -->





                </div>
            </div>
        </div>
    </div>
</div>