<div class="container">
    <div class="row">
        <div class="stretcherBlock col-xs-12">
            <div class="blockContent">
                <div class="row">
                    <div class="col-xs-12  col-xs-12 col-sm-4 bg-mr mb-1x borders-none   panel-blur content-left full   block panelBlock">
                        <div class="block-background">
                            <!-- Background Image -->
                            <picture>
                                <source srcset="/Static/img/content/lorem-sm.jpg" media="(max-width: 767px)">
                                <source srcset="/Static/img/content/lorem-sm.jpg" media="(max-width: 992px)">
                                <source srcset="/Static/img/content/sample1.jpg" media="(max-width: 1200px)">

                                <source srcset="/Static/img/content/sample1.jpg" media="(min-width: 1200px)">
                                <img class="BG Image Class" alt="BG Alt Tag" title="BG Alt Tag" src="/Static/img/content/sample1.jpg">
                            </picture>
                        </div>
                        <div class="block-container">
                            <!-- Block Content -->
                            <div class="blockContent bg-color">
                                <!-- Default Content -->
                                <div class="defaultContent text-white p-2x text-right">
                                    <div class="content ">
                                        <!-- Default Heading -->
                                        <div class="borders">
                                            <h3>Lorem Ipsum Dolor</h3>
                                        </div>
                                        <!-- WYSIWYG XHMTL Content -->

                                    </div>
                                </div>
                                <!-- Hover Content -->
                                <div class="hoverContent bg-color text-white p-2x text-right ">
                                    <div class="content">
                                        <!-- Hover Heading -->
                                        <div class="borders">
                                            <h3>Additional Hover Content</h3>
                                        </div>
                                        <!-- WYSIWYG XHMTL Content -->
                                        <p>Lorem ipsum dolor sit amet, consectetur </p>										<!-- Hover Link -->
                                        <div class="borders mb-1x">

                                            <a href="#" class="btn-arrow" title="Read More">Read More</a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- //// PLEASE IGNORE \\\\
                    Video ($video) - Not scope in Phase one  -->
                    <div class="col-xs-12  col-xs-12 col-sm-8 bg-tl mb-1x borders-none   panel-blur content-left full   block panelBlock">
                        <div class="block-background">
                            <!-- Background Image -->
                            <picture>
                                <source srcset="/Static/img/content/celebrate-sm.jpg" media="(max-width: 767px)">
                                <source srcset="/Static/img/content/celebrate-sm.jpg" media="(max-width: 992px)">
                                <source srcset="/Static/img/content/celebrate.jpg" media="(max-width: 1200px)">

                                <source srcset="/Static/img/content/celebrate.jpg" media="(min-width: 1200px)">
                                <img class="BG Image Class" alt="BG Alt Tag" title="BG Alt Tag" src="/Static/img/content/celebrate.jpg">
                            </picture>
                        </div>
                        <div class="block-container">
                            <!-- Block Content -->
                            <div class="blockContent bg-color">
                                <!-- Default Content -->
                                <div class="defaultContent text-white p-2x text-left">
                                    <div class="content ">
                                        <!-- Default Heading -->
                                        <div class="borders">
                                            <h3>Celebrate Unions</h3>
                                        </div>
                                        <!-- WYSIWYG XHMTL Content -->

                                    </div>
                                </div>
                                <!-- Hover Content -->
                                <div class="hoverContent bg-color text-white p-2x text-left ">
                                    <div class="content">
                                        <!-- Hover Heading -->
                                        <div class="borders">
                                            <h3>Additional Hover Content</h3>
                                        </div>
                                        <!-- WYSIWYG XHMTL Content -->
                                        <p>Lorem ipsum dolor sit amet, consectetur </p>										<!-- Hover Link -->
                                        <div class="borders mb-1x">

                                            <a href="#" class="btn-arrow" title="Read More">Read More</a>

                                        </div>

                                    </div>
                                    <!-- Hover Image -->
                                    <img src="/Static/img/temp/panel-img.jpg" class="img-responsive Hover Image Class" alt="Hover Image Alt" title="Hover Image Alt">
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- //// PLEASE IGNORE \\\\
                    Video ($video) - Not scope in Phase one  -->




                </div>
            </div>
        </div>
    </div>
</div>