<div class="row">
    <!-- Tabbed Carousel -->
    <section class="col-xs-12  enhancedCarouselBlock block mb-1x pull-up">
        <div class="sliderTabbed blockContent">
            <div class="block carouselItem  col-xs-12 bg-mc text-white <br />
<b>Notice</b>:  Undefined variable: contentPosition in <b>/Users/user/Versions/Royal Mint/library/blockTabbedCarousel.php</b> on line <b>55</b><br />
">
			<div class="banner-bg property">
				<!-- Background Image -->
				<picture>
										<img class="" alt="#alt" title="#alt" src="/Static/img/content/heads-and-tails.jpg">
				</picture>
			</div>
			<!-- Banner Content if one of the properties are populated -->
			<div class="block-container">
				<div class="blockContent content-leftmiddle">
					<div class="property overlay none pt-1x">
						<h3 class="heading">See the heads <br> and hear the tales</h3>
						<div class="xhtml hidden-xs">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit  In dignissim dui a leo venenatis, vestibulum sagittis purus aliquam. Phasellus tempor at orci non dictum. </p>						</div>
						<a href="#" class="btn-arrow" title="Read More">Read More</a>
					</div>
				</div>
			</div>


		</div>
            <div class="block carouselItem  col-xs-12 bg-mc text-white <br />
<b>Notice</b>:  Undefined variable: contentPosition in <b>/Users/user/Versions/Royal Mint/library/blockTabbedCarousel.php</b> on line <b>83</b><br />
">
			<div class="banner-bg property">
				<!-- Background Image -->
				<picture>
										<img class="" alt="#alt" title="#alt" src="/Static/img/content/heads-and-tails.jpg">
				</picture>

			</div>
			<!-- Banner Content if one of the properties are populated -->
			<div class="block-container">
				<div class="blockContent content-lefttop">
					<div class="property overlay none pt-1x">
						<h3 class="heading">Heading Title 2</h3>
						<div class="xhtml">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit  In dignissim dui a leo venenatis, vestibulum sagittis purus aliquam. Phasellus tempor at orci non dictum. </p>						</div>
						<a href="#" class="btn-arrow" title="Read More">Read More</a>
					</div>
				</div>
			</div>


		</div>
            <div class="block carouselItem  col-xs-12 bg-mc text-white <br />
<b>Notice</b>:  Undefined variable: contentPosition in <b>/Users/user/Versions/Royal Mint/library/blockTabbedCarousel.php</b> on line <b>112</b><br />
">
			<div class="banner-bg property">
					<!-- Background Image -->
				<picture>
										<img class="" alt="#alt" title="#alt" src="/Static/img/content/heads-and-tails.jpg">
				</picture>

			</div>
			<!-- Banner Content if one of the properties are populated -->
			<div class="block-container">
				<div class="blockContent content-leftmiddle">
					<div class="property overlay none pt-1x">
						<h3 class="heading">Heading Title 3</h3>
						<div class="xhtml">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit  In dignissim dui a leo venenatis, vestibulum sagittis purus aliquam. Phasellus tempor at orci non dictum. </p>						</div>
						<a href="#" class="btn-arrow" title="Read More">Read More</a>
					</div>
				</div>
			</div>


		</div>
            <div class="block carouselItem  col-xs-12 bg-mc text-white <br />
<b>Notice</b>:  Undefined variable: contentPosition in <b>/Users/user/Versions/Royal Mint/library/blockTabbedCarousel.php</b> on line <b>141</b><br />
">
			<div class="banner-bg property">
				<!-- Background Image -->
				<picture>
										<img class="" alt="#alt" title="#alt" src="/Static/img/content/heads-and-tails.jpg">
				</picture>

			</div>
			<!-- Banner Content if one of the properties are populated -->
			<div class="block-container">
				<div class="blockContent content-leftmiddle">
					<div class="property overlay none pt-1x">
						<h3 class="heading">Heading Title 4</h3>
						<div class="xhtml">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit  In dignissim dui a leo venenatis, vestibulum sagittis purus aliquam. Phasellus tempor at orci non dictum. </p>						</div>
						<a href="#" class="btn-arrow" title="Read More">Read More</a>
					</div>
				</div>
			</div>

		</div>
        </div>
        <!-- Carousel Navigation -->
        <ul class="container slick-nav">
            <li class="active"><span>Visit the Royal Mint Experience</span></li>
            <li><span>Carousel label 2</span></li>
            <li><span>Carousel label 3</span></li>
            <li><span>Carousel label 4</span></li>
        </ul>
    </section>
</div>