@using TRM.Web.Constants
@using TRM.Web.Models.Layouts

@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.EcomPrototypePage, Hephaestus.CMS.ViewModels.ILayoutModel>
@{
    var myLayout = Model.Layout as TrmLayoutModel;
    if (myLayout == null)
    {
        throw new InvalidCastException(StringConstants.Layout.InvalidLayout);
    }
}
<div class="pageContainer">

    <!-- BULL-149 - Bullion Registration Step 3a - Verify your identity -->
        <div class="container mb-4x mt-2x">
            <!-- Step bar -->
            <ol class="nav nav-bar nav-progress-bar mb-2x">
                <li><a href="/prototypes/bullion/registration/populated/AccountDetails_01a/">1.&nbsp;<span>Account Details</span>&nbsp;</a></li>
                <li><a href="/prototypes/bullion/registration/populated/PersonalDetails_02/">2.&nbsp;<span>Personal Details</span>&nbsp;</a></li>
                <li class="active"><a href="/prototypes/bullion/registration/populated/VerifyYourIdentity_03a/">3.&nbsp;<span>Verify your identity</span>&nbsp;</a></li>
                <li><a href="/prototypes/bullion/registration/populated/SecurityQuestion_04/">4.&nbsp;<span>Security Question</span>&nbsp;</a></li>
                <li><a href="/prototypes/bullion/registration/populated/ApplicationSuccessful_05/" class="text-nowrap">5.&nbsp;<span>Application Successful</span>&nbsp;</a></li>
            </ol>
            <!-- / Step bar -->
            <!-- Sub Headline -->
            @if (Model.CurrentPage.DisplayPageHeading)
            {
                <h3 class="mt-0 mb-2x">@Html.PropertyFor(m => m.CurrentPage.Heading)</h3>
            }
            <!-- / Sub Headline -->
            
            <!-- Content Area -->
            @*<div class="row">
                @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.TopContent)
            </div>*@
            <!-- / Content Area -->

            <!-- Form -->
            <main class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 mb-2x">
                    <div class="form-group mb-0">
                        <label class="control-label" for="">
                            Address
                            <span class="text-danger">*</span>
                            <small class="text-greyblue">(Please provide your permanent residential address)
                                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Tooltip for please provide your permanent residential address"></i>
                            </small>
                            
                        </label>
                        <input type="text" class="form-control" id="" placeholder="Please enter your Postcode" data-original-title="" title="">
                    </div>
                    <div class="mt-1x">
                        <a type="" class="">Enter Manually</a>
                    </div>
                </div>

                <!-- toolbar -->
                <div class="col-xs-12 mb-2x">
                    <a href="/prototypes/bullion/registration/populated/PersonalDetails_02/" type="" class="btn btn-default mb-1x p-1x">Back</a>
                    <a href="/prototypes/bullion/registration/populated/SecurityQuestion_04/" type="" class="btn btn-secondary mb-1x ml-1x p-1x pl-2x pr-2x">Continue</a>
                </div>
                <!-- / toolbar -->
            </main>
            <!-- / Form -->

                <!-- Content Area -->
            @*<div class="row">
                @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.BottomContent)
            </div>*@
                <!-- / Content Area -->
            <!-- / BULL-149 - Bullion Registration Step 3a - Verify your identity -->
        </div>

    </div>
