<div class="dijitInline extended-textArea"  role="presentation">
    <div data-dojo-attach-point="stateNode, tooltipNode">
        <textarea class="textArea-default-wrapping" data-dojo-attach-point="textArea" data-dojo-type="dijit.form.Textarea"></textarea>
    </div>
    <div class="statistics">
        Characters: <span data-dojo-attach-point="totalCharacters">0</span>,&nbsp;words: <span data-dojo-attach-point="totalWords">0</span>,&nbsp;lines: <span data-dojo-attach-point="totalLines">1</span>
    </div>
</div>