@using TRM.Web.Constants
@using TRM.Web.Models.Layouts

@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.EcomPrototypePage, Hephaestus.CMS.ViewModels.ILayoutModel>
@{
	var myLayout = Model.Layout as TrmLayoutModel;
	if (myLayout == null)
	{
		throw new InvalidCastException(StringConstants.Layout.InvalidLayout);
	}

	var targetId = Guid.NewGuid();

}
<div class="pageContainer">
	<div class="row">
		@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.TopContent)
	</div>
	<div class="container mb-4x mt-2x">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2 mb-1x">
				<div class="page-header">
					<h1 class="h1 text-success">
						<i class="trmi trmi-check text-success mr-1x"></i>
						Delivery Confirmation
					</h1>
				</div>
				<div class="alert alert-success">
					<span>The below investment have successfully been requested for delivery. Your investment wallet will be reduced immediately and your items will be removed from the vault when delivery has been organised. An email confirmation will follow shortly.</span>
				</div>
				<h3 class="mt-0">Delivery Summary</h3>
				<h3 class="mb-2x h6">#ab123456cd</h3>
				<div class="row">
					@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.MiddleContent)
				</div>
				<h3 class="h6 text-midblue mt-0">Delivery of the below items from The Royal Mint Vault</h3>
				<div class="checkout-item-block">
					<div class="checkout-item-wrapper">
						<div class="item-image hidden-xs">
							<img src="/Static/img/catalogue/coin-img.jpg">
						</div>
						<div class="item-info">
							<h6 class="h6 mt-0 mb-0">Bullion Coin or Bar Title may well wrap over two lines</h6>
							<p class="text-graylight">Second title line if populated</p>
						</div>
						<div class="item-price flex-align-left-sm-up primary-price">
							<div class="price-info">
								<p class="h6 mb-0 text-center">Quantity</p>
								<p class="h5 text-center mt-0 mb-0">
									8
								</p>
							</div>
						</div>
					</div>
				</div>
				<h3 class="h6 text-midblue">Standard delivery to registered investment address:</h3>
				<h3 class="mb-2x h6">1 Floats Rd, Manchester, M23 9PL</h3>
				<h3 class="h6 text-midblue">Payment Type</h3>
				<h3 class="mb-2x h6">Investment Wallet</h3>
				<div class="checkout-total">
					<div class="row">
						<div class="col-xs-6 col-sm-3 col-sm-offset-6 text-right-sm-up">
							<strong>Investment VAT</strong>
						</div>
						<div class="col-xs-6 col-sm-3 text-right-sm-up">
							£54.13
						</div>
						<div class="clearfix"></div>
						<div class="col-xs-6 col-sm-3 col-sm-offset-6 text-right-sm-up">
							<strong>Delivery</strong>
						</div>
						<div class="col-xs-6 col-sm-3 text-right-sm-up">
							£X.XX
						</div>
						<div class="clearfix"></div>
						<div class="col-xs-6 col-sm-3 col-sm-offset-6 text-right-sm-up">
							<strong>Delivery VAT</strong>
						</div>
						<div class="col-xs-6 col-sm-3 text-right-sm-up">
							£X.XX
						</div>
						<div class="clearfix"></div>
						<hr>
					</div>
					<div class="row center-items-sm-up">
						<div class="col-xs-12 col-sm-6 col-sm-offset-6">
							<div class="row">
								<div class="col-xs-6">
									<p class="h4 h3-lg-down strong mt-0 mb-0 text-right-sm-up">Delivery Total</p>
								</div>
								<div class="col-xs-6 text-right-sm-up">
									<p class="h4 h3-lg-down strong mt-0 mb-0">£80.00</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-md-5 pull-right-sm-up">
						<button type="button" class="btn btn-secondary btn-block mt-2x">Go to Account Dashboard</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.BottomContent)
	</div>
</div>