<reviewstars class="mt-10 display-block">
    <span class="reviewStars text-ochre">
        <span class="trmi trmi-star-full"></span>
        <span class="trmi trmi-star-full"></span>
        <span class="trmi trmi-star-full"></span>
        <span class="trmi trmi-star-full"></span>
        <span class="trmi trmi-star-empty"></span>
    </span>
    <a href="" class="text-slateblue">(4)</a>
</reviewstars>
