<div class="cta-action mt-2x mb-1x text-ochre">
	<a class="h6" data-toggle="collapse" href="#pdp-price-table" role="button" aria-expanded="false" aria-controls="collapseExample">
		<span class="mr-5"><i class="trmi trmi-angle-down"></i><i class="trmi trmi-angle-up"></i></span>
		<span class="hide-label">Hide Bulk Discount</span>
		<span class="show-label">View Bulk Discount</span>
	</a>
</div>
<div class="variantTable collapse" id="pdp-price-table">
    <table class="table">
        <tr class="bg-pearl">
            <th>Quantity</th>
            <td>Unit Price</td>
        </tr>
        <tr class="bg-warning">
            <th>1</th>
            <td>&pound;286.99</td>
        </tr>
        <tr>
            <th>2+</th>
            <td>&pound;286.99</td>
        </tr>
        <tr>
            <th>5+</th>
            <td>&pound;286.99</td>
        </tr>
        <tr>
            <th>10+</th>
            <td>&pound;286.99</td>
        </tr>
        <tr>
            <th>20+</th>
            <td>&pound;286.99</td>
        </tr>
        <tr>
            <th>50+</th>
            <td>&pound;286.99</td>
        </tr>
        <tr>
            <th>100+</th>
            <td>&pound;286.99</td>
        </tr>
        <tr>
            <th>200+</th>
            <td>&pound;286.99</td>
        </tr>
        <tr>
            <th>500+</th>
            <td>&pound;267.86</td>
        </tr>
    </table>


</div>