<div class="pdp-usp trm-product-usp col-xs-12 mt-1x mb-5 panel panel-default thumbnail p-1x pl-sm-0x pr-sm-0x pl-xs-0x pr-xs-0x pt-xs-3x">
    <div class="thumbnail text-center p-1x">
        <div class="row pdp-usp--wrapper display-block-xs">
            <div class="col-xs-12 col-sm-4 pdp-usp--item">
                <div class="pdp-usp--bg center-block display-inline-block margin--bottom-10 borders img-circle bg-aquamarine text-white text-uppercase">
                    <h2 class="pdp-usp--headline h2 text-center mb-0">Free</h2>
                    <p class="pdp-usp--subline mb-0 lead">UK Delivery</p>
                </div>
                <p class="mt-1x">
                    This item is available for free UK Delivery. <a href="">International delivery</a> charges still apply
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 text-center pdp-usp--item">
                <div class="pdp-usp--bg center-block display-inline-block margin--bottom-10 borders img-circle bg-aquamarine text-white text-uppercase mt-xs-1x">
                    <h2 class="pdp-usp--headline h2 text-center mb-0">VAT</h2>
                    <p class="pdp-usp--subline mb-0 lead">Free</p>
                </div>
                <p class="mt-1x">
                    <a href="">VAT free</a> for non VAT registered private individuals
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 text-center pdp-usp--item">
                <div class="pdp-usp--bg center-block display-inline-block margin--bottom-10 borders img-circle bg-aquamarine text-white text-uppercase mt-xs-1x">
                    <h2 class="pdp-usp--headline h2 text-center mb-0">CGT</h2>
                    <p class="pdp-usp--subline mb-0 lead">Exempt</p>
                </div>
                <p class="mt-1x">
                    Exempt from <a href="">UK capital gains tax</a> for UK residents only, due to being legal tender
                </p>
            </div>
        </div>
    </div>
</div>