<div class="row pdp-prod-info--wrapper display-block-xs">
    <div class="col-xs-6 col-sm-4 pdp-prod-info--item pr-0 pl-0">
        <span class="h6">Unit Price</span>
        <span class="h4 display-block mt-5 mb-5">£287.93</span>
        <span class="small">
            Single unit £299.99
            <i class="trmi trmi-question" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip"></i>
        </span>
    </div>
    <div class="col-xs-6 col-sm-4 pdp-prod-info--item pr-0 pl-0">
        <p class="h6 mt-0">Quantity</p>
        <div class="display-inline-block mt-10 mb-xs-1x">
            <div class="input-group qty-group mb-xs-1x">
                <span class="input-group-btn pr-5">
                    <button class="btn qty-btn" type="button" disabled="disabled">
                        <i class="trmi trmi-minus"></i>
                    </button>
                </span>
                <input type="text" class="form-control text-center qty-input" placeholder="Qty" value="1" title="">
                <span class="input-group-btn pl-5">
                    <button class="btn qty-btn" type="button">
                        <i class="trmi trmi-plus"></i>
                    </button>
                </span>
            </div>
        </div>

    </div>
    <div class="pdp-prod-info--item pdp-prod-info--price-wrapper col-xs-12 col-sm-4 pr-0 pl-0 pt-xs-1x">
        <span class="h6">Sub Total<small class="text-nowrap"> (EXC. VAT)</small></span>
        <span class="pdp-prod-info--price h4 display-block mt-5 mb-5">&pound;287.93 </span>
        <span class="estimated mt-5 display-inline-block">estimated</span>
    </div>
</div>