<div class="col-xs-12 col-sm-9 col-sm-push-3 col-md-10 col-md-push-2 mt-xs-2x">
    <div class="prod-main-img prod-carousel" id="carMain" data-direction="horizontal">
        <figure class="carousel-img">
            <picture><img class="img-responsive img-zoom" src="/Static/img/catalogue/detail/PWMS16_02.jpg" alt="Image title"></picture>
        </figure>
        <figure class="carousel-img">
            <picture><img class="img-responsive img-zoom" src="/Static/img/catalogue/detail/PWMS16_03.jpg" alt="Image title"></picture>
        </figure>
        <figure class="carousel-img">
            <picture><img class="img-responsive img-zoom" src="/Static/img/catalogue/detail/PWMS16_04.jpg" alt="Image title"></picture>
        </figure>
        <figure class="carousel-img">
            <picture><img class="img-responsive img-zoom" src="/Static/img/catalogue/detail/PWMS16_01.jpg" alt="Image title"></picture>
        </figure>
    </div>
</div>
<div class="col-xs-12 col-sm-2 col-sm-pull-9 col-md-2 col-md-pull-10 hidden-xs">
    <div class="gallery-thumbnails prod-carousel" id="carThumbs" data-navfor="#carMain" data-direction="vertical">
        <figure class="carousel-img">
            <picture><img class="img-responsive img-zoom" src="/Static/img/catalogue/detail/PWMS16_02.jpg" width="auto" alt="Image title"></picture>
        </figure>
        <figure class="carousel-img">
            <picture><img class="img-responsive img-zoom" src="/Static/img/catalogue/detail/PWMS16_03.jpg" width="auto" alt="Image title"></picture>
        </figure>
        <figure class="carousel-img">
            <picture><img class="img-responsive img-zoom" src="/Static/img/catalogue/detail/PWMS16_04.jpg" width="auto" alt="Image title"></picture>
        </figure>
        <figure class="carousel-img">
            <picture><img class="img-responsive img-zoom" src="/Static/img/catalogue/detail/PWMS16_01.jpg" width="auto" alt="Image title"></picture>
        </figure>
    </div>
</div>