@using TRM.Web.Models.Layouts
@model  TrmLayoutModel

<div class="brand-footer">
    This is a custom footer prototype sample
    <footer class="container" @Html.EditAttributes(m => m.SiteFooter)>
        <div class="row">
            @Html.DisplayFor(m => m.SiteFooter)
        </div>
    </footer>
</div>