<div class="row">
	<div class="col-xs-12">
		<div class="investment-order-summary">
			<div class="summary-header">
				<div class="title">
					<h5 class="h5 mt-0 mb-0">Investment order summary</h5>
					<p class="mt-0 mb-0">Investment Total: £1,115.99 <span class="small">(ex VAT)</span> <span class="estimated status display-xs">Estimated</span></p>
				</div>
				<div class="cta-action">
					<a data-toggle="collapse" href="#investmentSummaryDetails" role="button" aria-expanded="false" aria-controls="investmentSummaryDetails">
						<span class="hide-label">Hide</span>
						<span class="show-label">View Items</span>
					</a>
				</div>
			</div>
			<div class="summary-details collapse" id="investmentSummaryDetails">
				<div class="row table-row">
					<div class="col-xs-12">
						<p class="header-font-color strong">Items being Delivered</p>
					</div>
					<div class="col-xs-12 col-md-7">
						<p class="mt-0 strong mb-0">2018 UK 50p BU Coin</p>
					</div>
					<div class="col-xs-6 col-md-1 pl-0 pl-sm-1x pl-xs-1x pr-0 text-center-md-up">
						<span class="visible-xs-inline visible-sm-inline strong mr-1x">Qty: </span>x3
					</div>
					<div class="col-xs-6 col-md-4 pl-0 text-right">
						<p class="mb-0">£30.00</p>
						<p class="small mb-0">(ex VAT)</p>
					</div>
					<div class="col-xs-6 col-sm-8">
						<p class="small mb-0 text-success">In Stock</p>
						<p class="small mb-0">Delivery in 3 to 5 working days</p>
					</div>
					<div class="col-xs-6 col-sm-4 mt-1x text-right">
						<span class="estimated status display-xs">Estimated</span>
					</div>
					<div class="col-xs-12">
						<hr class="mb-0" />
					</div>
				</div>
				<div class="row table-row">
					<div class="col-xs-12">
						<p class="header-font-color strong">Items to be stored in The Royal Mint Vault</p>
					</div>
					<div class="col-xs-12 col-md-7">
						<p class="mt-0 strong mb-0">2017 UK 50p BU Coin</p>
					</div>
					<div class="col-xs-6 col-md-1 pl-0 pl-sm-1x pl-xs-1x pr-0 text-center-md-up">
						<span class="visible-xs-inline visible-sm-inline strong mr-1x">Qty: </span>x3
					</div>
					<div class="col-xs-6 col-md-4 pl-0 text-right">
						<p class="mb-0">£30.00</p>
						<p class="small mb-0">(ex VAT)</p>
					</div>
					<div class="col-xs-6 col-sm-8">
						<p class="small mb-0 text-success">In Stock</p>
					</div>
					<div class="col-xs-6 col-sm-4 mt-1x text-right">
						<span class="estimated status display-xs">Estimated</span>
					</div>
					<div class="col-xs-12">
						<hr class="mb-0" />
					</div>
				</div>
				<div class="row table-row">
					<div class="col-xs-12 col-md-7">
						<p class="mt-0 strong mb-0">Signature Gold</p>
					</div>
					<div class="col-xs-6 col-md-1 pl-0 pl-sm-1x pl-xs-1x pr-0 text-center-md-up">
					</div>
					<div class="col-xs-6 col-md-4 pl-0 text-right">
						<p class="mb-0">£30.00</p>
						<p class="small mb-0">(ex VAT)</p>
					</div>
					<div class="col-sm-12">
						<p class="strong mb-0">Investment Requested: £30.00</p>
						<p class="small mb-0">Approx weight: 0.15oz</p>
						<p class="small mb-0 text-success">In Stock</p>
					</div>
					<div class="col-xs-12">
						<hr class="mb-0" />
					</div>
				</div>
				<div class="row table-row">
					<div class="col-xs-12 col-md-7">
						<p class="mt-0 strong mb-0">Signature Silver</p>
					</div>
					<div class="col-xs-6 col-md-1 pl-0 pl-sm-1x pl-xs-1x pr-0 text-center-md-up">
					</div>
					<div class="col-xs-6 col-md-4 pl-0 text-right">
						<p class="mb-0">£30.00</p>
						<p class="small mb-0">(ex VAT)</p>
					</div>
					<div class="col-sm-12">
						<p class="strong mb-0">Investment Requested: £30.00</p>
						<p class="small mb-0">Approx weight: 0.15oz</p>
						<p class="small mb-0 text-success">In Stock</p>
					</div>
					<div class="col-xs-12">
						<hr class="mb-0" />
					</div>
				</div>
				<div class="row table-row">
					<div class="col-xs-12 col-md-7">
						<p class="mt-0 strong mb-0">Signature Platinum</p>
					</div>
					<div class="col-xs-6 col-md-1 pl-0 pl-sm-1x pl-xs-1x pr-0 text-center-md-up">
						
					</div>
					<div class="col-xs-6 col-md-4 pl-0 text-right">
						<p class="mb-0">£30.00</p>
						<p class="small mb-0">(ex VAT)</p>
					</div>
					<div class="col-sm-12">
						<p class="strong mb-0">Investment Requested: £30.00</p>
						<p class="small mb-0">Approx weight: 0.15oz</p>
						<p class="small mb-0 text-success">In Stock</p>
					</div>
					<div class="col-xs-12">
						<hr class="mb-0" />
					</div>
				</div>
				<div class="row table-footer">
					<div class="col-xs-8 text-right">
						<strong>Investment Basket Total</strong>
					</div>
					<div class="col-xs-4 text-right">
						£270.00
					</div>
					<div class="col-xs-8 text-right">
						<strong>Investment VAT</strong>
					</div>
					<div class="col-xs-4 text-right">
						£2.70
					</div>
					<div class="col-xs-8 text-right">
						<strong>Delivery</strong>
					</div>
					<div class="col-xs-4 text-right">
						Free
					</div>
					<div class="col-xs-8 text-right">
						<strong>Investments Total</strong>
					</div>
					<div class="col-xs-4 text-right">
						<span class="strong">
							£272.70
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>