<div class="row">
	<div class="col-xs-12">
		<div class="order-summary-complete alert alert-success">
			<div class="summary-header">
				<div class="title">
					<h5 class="h5 mt-0 mb-0 text-success">Retail Order complete</h5>
					<p class="mt-0 mb-0 text-success">Retail Total: £1,115.99</p>
				</div>
				<div class="cta-action">
					<a>
						<span class="complete-icon">
							<i class="trmi trmi-check text-success"></i>
						</span>
					</a>
				</div>
			</div>
			<div class="summary-details">
				<p class="mt-0 mb-0"><strong>Order Number:</strong><span>XYZ1234</span></p>
				<p class="mt-0 mb-0"><strong>Order Total:</strong><span>£1,230.99</span></p>
				<p class="mt-0 mb-0"><strong>Paid by:</strong><span>Debit Card</span></p>
				<p class="mt-0 mb-0"><strong>Delivery to:</strong><span>Floats Rd, Manchester, M23 9PL</span></p>
			</div>
		</div>
	</div>
</div>
