<div class="row mb-xs-2x mt-1x">
    <div class="col-xs-12 mb-xs-1x ">
        <div class="row">

            <div class="col-xs-4 col-sm-2">
                <a class="text-slateblue" title="" href="">
                    <img alt="" class="img-responsive" src="https://d3lquo1px7ralw.cloudfront.net/production/Content/images/Products/xsmall/RMGM100G.png"> 
                </a>
            </div>
            
            <div class="col-xs-8 col-sm-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-5">
                        <div class="product-title">
                            <p class="strong mt-xs-0x mt-sm-0x mb-1x"><a href="#" class="text-slateblue">100g Fine Gold</a><span class="hidden-close-wrapper hidden-sm hidden-md hidden-lg pull-right"> <span class="text-danger"><i class="trmi trmi-close small-text"></i></span></span> </p>
                            <button class="btn btn-default btn-xs mb-1x"><small>I would like to vault this</small></button>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3 basket-padding-top">
                        <div class="input-group qty-group">
                            <span class="input-group-btn">
                                <button class="btn qty-btn" type="button" ng-click="updateQuantity(variant, -1)" ng-disabled="variant.Quantity <= variant.StockSummary.MinQuantity">
                                    <i class="trmi trmi-minus"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control text-center qty-input" placeholder="4" value="{{variant.Quantity}}" data-qty-min="1" data-qty-max="10" data-qty-step="1" disabled="" data-original-title="" title="">
                            <span class="input-group-btn">
                                <button class="btn qty-btn" type="button" ng-click="updateQuantity(variant, 1)" ng-disabled="variant.Quantity >= variant.StockSummary.MaxQuantity">
                                    <i class="trmi trmi-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-2 basket-padding-top hidden-xs">
                        <div class="">
                            <span class=""> £3,368.80  <p class="mini-basket-vat">(ex VAT)</p> <span class="estimated">estimated</span></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-2 basket-padding-top">
                        <div class="">
                            <span class="hidden-sm hidden-md hidden-lg">Sub Total:</span> £13,475.20 <p class="mini-basket-vat">(ex VAT)</p><span class="estimated">estimated</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-5">
                        <div class="product-status">
                            <p class="text-success small mb-1x">In Stock <span class="text-black"></span></p>
                        </div>
                        <a href="" class="product-removal mb-xs-1x hidden-xs">
                            <span class="text-danger"><i class="trmi trmi-close small-text"></i></span>
                            <span class="text-danger">remove</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div><hr></div>