@using TRM.Web.Models.Layouts
@model TrmLayoutModel

<div class="brand-footer">
    <footer class="container">
        <div class="row">
            © The Royal Mint Limited 2017. The Royal Mint Limited whose registered office is at Llantrisant, Pontyclun, CF72 8YT, United Kingdom (registered in England and Wales No. 06964873).
        </div>
    </footer>
</div>