@using TRM.Web.Models.Layouts
@using Enums = TRM.Web.Constants.Enums

@model  TrmLayoutModel
@{
	var showMessage = Model.TrmHeaderMessageBlock != null && Model.TrmHeaderMessageBlock.CurrentMessage != null && Model.TrmHeaderMessageBlock.CurrentMessage.Reason != Enums.TrmMessageReason.None;
	var showLivePrice = Model.TrmMetalBlockHeader != null && Model.TrmMetalBlockHeader.IsInHeader && !showMessage;
	var headerClass = showMessage ? "show-message" : (showLivePrice ? "show-live-price" : "");
}
<div class="header-container @headerClass">
	<!-- HeaderMessage -->
	@{ Html.RenderContentData(Model.TrmHeaderMessageBlock, false); }
	@if (showLivePrice)
	{
		<!-- MetaPrice -->
		Html.RenderContentData(Model.TrmMetalBlockHeader, false);
	}

	<div class="container">
		<header class="brand-header">
		    @{
		        Html.RenderContentData(Model.SiteLogoBlock, false);
		    }
			@Html.Partial("~/Views/Shared/Prototypes/BULL-983_HeaderAndFooterSIPPSSASS/_MegaMenuSIPPSSASS.cshtml", Model)
		</header>
	</div>
</div>