@using TRM.Web.Constants
@using TRM.Web.Models.Layouts

@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.EcomPrototypePage, Hephaestus.CMS.ViewModels.ILayoutModel>
@{
	var myLayout = Model.Layout as TrmLayoutModel;
	if (myLayout == null)
	{
		throw new InvalidCastException(StringConstants.Layout.InvalidLayout);
	}
}
<div class="pageContainer bull-registration">
    <!-- BULL-151 - Bullion Registration Step 5 - Application Successful -->
    <div class="container mb-4x mt-2x">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 mt-2x mb-3x">
                    <!-- Step bar -->
                    <ol class="nav nav-bar nav-progress-bar row">
                        <li class="done"><a href="/prototypes/bullion/registration/populated/AccountDetails_01a-01/"><span>1.</span></a></li>
                        <li class="done"><a href="/prototypes/bullion/registration/populated/PersonalDetails_02-01/"><span>2.</span></a></li>
                        <li class="done"><a href="/prototypes/bullion/registration/populated/VerifyYourIdentity_03a-01/"><span>3.</span></a></li>
                        <li class="active"><a href="/prototypes/bullion/registration/populated/SecurityQuestion_04-01/"><span>4.</span></a></li>
                    </ol>
                    <!-- / Step bar -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
                <!-- Sub Headline -->
                <h1 class="h3 mt-0 mb-2x">Thanks you for submitting your ID</h1>
                <!-- / Sub Headline -->
                <div class="row">
                    @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.TopContent)
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info p-2x" role="alert">
                            <h1 class="h3 pb-1x mt-0">Your account has been created</h1>
                            @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.MiddleContent)
                            <p class="lead pb-1x">
                                However, one of our customer services team is currently reviewing some of the details on your application.<br />
                                We will let you know your application result shortly. You will not be able to trade Bullion until your application has been approved.
                            </p>
                        </div>
                    </div>

                    <!-- toolbar -->
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-7">
                                <button type="button" class="btn btn-default btn-block pb-1x pt-1x pl-0 pr-0">Contact Customer Services</button>
                            </div>
                            <div class="col-xs-12 col-sm-5 mt-1x mt-sm-0x mt-md-0x mt-lg-0x">
                                <button type="button" class="btn btn-secondary btn-block p-1x">Go to Homepage</button>
                            </div>
                        </div>
                    </div>
                    <!-- / toolbar -->

                </div>
                <!-- / BULL-147 - Bullion Registration Step 1 - Account Details -->
            </div>
        </div>


    </div>
     <!-- Content Area -->
    <div class="row">
        @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.BottomContent)
    </div>
    <!-- / Content Area -->
</div>

