<div class="container clear ">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Parent Page Title</a></li>
        <li class="active">Current Page Title</li>
    </ol>
</div>