<div class="container">
    <div class="username-request-email">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="mt-1x">You recently requested a username reminder for royalmint.com, here are your username(s) are below?</h4>
                <h4 class="mt-1x h3">Forgotten PasswordAndyThomas12345</h4>
                <h4 class="mt-1x h3">Forgotten PasswordAndyThomas123456</h4>
                <h4 class="mt-1x">If you did not make this request we would recommend that you update your password using the links below.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 mt-1x">
                <button class="btn btn-secondary btn-block" type="submit">Login</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 mt-1x">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec eros nulla. Vivamus finibus tristique efficitur. Morbi sed lacus at nunc placerat vestibulum vitae in purus. Pellentesque imperdiet condimentum tempor. Proin facilisis tortor eget est finibus, et porttitor felis porttitor. Vestibulum eu leo non lectus dictum ultricies. Nulla in leo vel sapien laoreet fermentum</p>
            </div>
        </div>
    </div>
</div>
