<div class="passport-block">
	<form class="">
		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<div class="form-group mb-2x">
					<label class="control-label" for="">
						Licence ID Number
						<span class="text-danger">*</span>
						<small class="text-greyblue text-nowrap display-inline-block display-block-sm"></small>
					</label>
					<input type="text" class="form-control tooltip-input" id="" placeholder="E.g. MORGA657054SM9IJ" data-original-title="" title="">
					<p class="tooltip-info alert alert-info mt-1x mb-0 text-left hidden">
						This is 16 characters long and starts with the beginning of your surname.
					</p>
				</div>
				<button type="submit" class="btn btn-secondary btn-200 mr-2x">Confirm Details</button>
				<a href="" class="display-block-xs display-inline-block mt-xs-2x mt-md-2x mb-xs-2x">Choose a different ID type</a>
			</div>
			<div class="col-xs-12 col-sm-5 contentArea">
				<div class="row">
					<div class="block  editorialBlock col-xs-12">
						<div class="blockContent ">
							<div class="document-panel">
								<h6>Get it right...</h6>
								<p>Licence ID Number:</p>
								<img src="/Static/img/content/driving-licence.png">
								<p class="mt-1x">Don't forget you can 'Upload a Picture' of your Driving Licence if that's easier.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
