<div class="passport-block">
	<form class="">
		<div class="row">
			<div class="col-xs-12 col-sm-7">

				<div class="row">
					<div class="form-group col-xs-12 col-sm-11">
						<label class="control-label" for="">
							Country of Issue
							<span class="text-danger">*</span>
						</label>
						<div class="select-form">
							<select class="form-control" id="" name="" style="">
								<option selected="selected" value="3">
									United Kingdom
								</option>
								<option value="4">
									Europe
								</option>
								<option value="6">
									Rest Of The World
								</option>
							</select>
						</div>
					</div>
					<div class="form-group mb-2x col-xs-12 col-sm-11">
						<label class="control-label" for="">
							Document Number
							<span class="text-danger">*</span>
							<small class="text-greyblue text-nowrap display-inline-block display-block-sm"></small>
						</label>
						<input type="text" class="form-control" id="" placeholder="E.g. 4812640614" data-original-title="" title="">
					</div>
				</div>
				<button type="submit" class="btn btn-secondary btn-200 mr-2x">Confirm Details</button>
				<a href="" class="display-block-xs display-inline-block mt-xs-2x mt-md-2x mb-xs-2x">Choose a different ID type</a>
			</div>
			<div class="col-xs-12 col-sm-5 contentArea">
				<div class="row">
					<div class="block editorialBlock col-xs-12">
						<div class="blockContent ">
							<div class="document-panel">
								<h6>Get it right...</h6>
								<p>Document Number:</p>
								<img src="~/Static/img/content/id-image.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
