@using EPiServer.Core
@using Hephaestus.ContentTypes.Business.Extensions
@model TRM.Web.Models.Blocks.EcomPrototypeBlock

<div class="block-container">
    <div class="metal-price metal-price__wrapper text-white bg-purple">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                <p class="h6 text-ochre text-uppercase mb-0 mt-0 pl-1x pb-1x pt-1x bb-solid-ochre">Live Metal Prices</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <!-- price - gold -->
                        <p class="price-note__wrapper mb-0 pt-1x pb-1x pl-xs-1x pl-sm-1x bb-solid-silver">
                            <span class="price-note__metal text-uppercase text-gold">
                                Gold
                            </span>
                            <span class="price-note__price ml-1x">
                                £910.00
                            </span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 style="vertical-align:-4px;height:16px;margin-left:2px;margin-right:2px;">
                                <defs>
                                    <style>
                                        .chevron-up__colour {
                                            fill: none;
                                            stroke: #009681;
                                            stroke-miterlimit: 10;
                                            stroke-width: 4px;
                                            fill-rule: evenodd;
                                        }
                                    </style>
                                </defs>
                                <polyline class="chevron-up__colour" points="2 14 10 6 18 14" />
                            </svg>
                            <small>0.13%</small>
                        </p>
                        <!-- / price - gold -->
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <!-- price - silver -->
                        <p class="price-note__wrapper text-white mb-0 pl-xs-1x pt-1x pb-1x bb-solid-silver">
                            <span class="price-note__metal text-uppercase text-sand">
                                Silver
                            </span>
                            <span class="price-note__price ml-1x">
                                £910.00
                            </span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 style="vertical-align:-4px;height:16px;margin-left:2px;margin-right:2px;">
                                <defs>
                                    <style>
                                        .chevron-down__colour {
                                            fill: none;
                                            stroke: #E60000;
                                            stroke-miterlimit: 10;
                                            stroke-width: 4px;
                                            fill-rule: evenodd;
                                        }
                                    </style>
                                </defs>
                                <polyline class="chevron-down__colour" points="18 6 10 14 2 6" />
                            </svg>
                            <small>0.13%</small>
                        </p>
                        <!-- / price - silver -->
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <!-- price - platinum -->
                        <p class="price-note__wrapper text-white mb-0 pl-xs-1x pt-1x pb-1x">
                            <span class="price-note__metal text-uppercase">
                                Platinums
                            </span>
                            <span class="price-note__price ml-1x">
                                £910.00
                            </span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 style="vertical-align:-4px;height:16px;margin-left:2px;margin-right:2px;">
                                <defs>
                                    <style>
                                        .chevron-up__colour {
                                            fill: none;
                                            stroke: #009681;
                                            stroke-miterlimit: 10;
                                            stroke-width: 4px;
                                            fill-rule: evenodd;
                                        }
                                    </style>
                                </defs>
                                <polyline class="chevron-up__colour" points="2 14 10 6 18 14" />
                            </svg>
                            <small>0.13%</small>
                        </p>
                        <!-- / price - platinum -->
                    </div>
                </div>
            </div>
            
        </div>
    </div>
       
</div>