<div class="metal-chart-block">
	<div class="col-xs-12 col-md-6">
		<div class="row chart-wrapper">
			<div class="col-xs-12">
				<div class="panel-group" id="chartWrapper">
					<div class="panel panel-default">
						<div id="collapseOne" class="chart-item collapse in">
							<div id="metalChart" class="chart-content">
							</div>
						</div>
						<div id="collapseTwo" class="chart-item collapse">
							<div id="productChart" class="chart-content"></div>
						</div>
						<div id="collapseThree" class="chart-item collapse">
							<div id="summaryChart" class="chart-content"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="chart-filter text-center">
					<div class="checkbox fancy checkbox-inline">
						<input type="radio" class="chart-filter-button" name="chartFilter" id="chkDel" data-toggle="collapse" data-parent="#chartWrapper" data-target="#collapseOne" aria-expanded="true" checked>
						<label for="chkDel">
							Metal Type
						</label>
					</div>
					<div class="checkbox fancy checkbox-inline">
						<input type="radio" class="chart-filter-button" name="chartFilter" id="chkDe2" data-toggle="collapse" data-parent="#chartWrapper" data-target="#collapseTwo">
						<label for="chkDe2">
							Product Type
						</label>
					</div>
					<div class="checkbox fancy checkbox-inline">
						<input type="radio" class="chart-filter-button" name="chartFilter" id="chkDe3" data-toggle="collapse" data-parent="#chartWrapper" data-target="#collapseThree">
						<label for="chkDe3">
							Metal & Product Type
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
