<div class="passport-block">
	<form class="">
		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="form-group col-xs-6 col-sm-8 col-md-8">
								<label class="control-label" for="">
									Country of Issue
									<span class="text-danger">*</span>
								</label>
								<div class="select-form">
									<select class="form-control" id="" name="" style="">
										<option selected="selected" value="3">
											United Kingdom
										</option>
										<option value="4">
											Europe
										</option>
										<option value="6">
											Rest Of The World
										</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group mb-2x">
					<label class="control-label" for="">
						Passport code - Bottom Line
						<span class="text-danger">*</span>
						<small class="text-greyblue text-nowrap display-inline-block display-block-sm">(44 characters)</small>
					</label>
					<input type="text" class="form-control tooltip-input" id="" placeholder="E.g. 5333800068GBR8812049F2509286<<<<<<<<<<<<<04" data-original-title="" title="">
					<p class="tooltip-info alert alert-info mt-1x mb-0 text-left hidden">
						This is the long number at the bottom of your passport. We just need the bottom line. Please make sure you type the correct amount of chevrons in.
					</p>
				</div>
				<div class="form-group mb-2x">
					<label class="control-label" for="dobDay">
						Expiry Date
						<span class="text-danger">*</span>
						<small class="text-greyblue text-nowrap"></small>
					</label>
					<div class="row">
						<div class="col-xs-4">
							<div class="select-form">
								<select class="form-control form-select">
									<option value="MM">MM</option>
									<option value="01">January</option>
									<option value="02">February</option>
									<option value="03">March</option>
									<option value="04">April</option>
									<option value="05">May</option>
									<option value="06">June</option>
									<option value="07">July</option>
									<option value="08">August</option>
									<option value="09">September</option>
									<option value="10">October</option>
									<option value="11">November</option>
									<option value="12">December</option>
								</select>
							</div>
						</div>

						<div class="col-xs-4">
							<div class="select-form">
								<select class="form-control">
									<option value="YYYY">YYYY</option>
									<option value="2018">2018</option>
									<option value="2017">2017</option>
									<option value="2016">2016</option>
									<option value="2015">2015</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-secondary btn-200 mr-2x">Confirm Details</button>
				<a href="" class="display-block-xs display-inline-block mt-xs-2x mt-md-2x mb-xs-2x">Choose a different ID type</a>
			</div>
			<div class="col-xs-12 col-sm-5 contentArea">
				<div class="row">
					<div class="block  editorialBlock col-xs-12">
						<div class="blockContent ">
							<div class="document-panel">
								<h6>Get it right...</h6>
								<p>Passport code - bottom line:</p>
								<img src="~/Static/img/content/passport-1.png" />
								<p class="mt-1x">Passport Expiry Date:</p>
								<img src="~/Static/img/content/passport-2.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
