@using EPiServer.Core
@using Hephaestus.ContentTypes.Business.Extensions
@model TRM.Web.Models.Blocks.EcomPrototypeBlock

<div class="vaulted-investment-block">
	<div class="col-xs-12 col-md-6">
		<div class="row vault-hodding-item">
			<div class="col-xs-12">
				<div class="total-vault">
					<p class="price">£105,860.25</p>
					<p class="type">Total Holdings</p>
				</div>

			</div>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="sub-total-vault gold">
							<p class="price">£8,729,003.25</p>
							<p class="quantity">93.00<span>oz</span></p>
							<p class="type">Gold</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="sub-total-vault silver">
							<p class="price">£12,000,000.00</p>
							<p class="quantity">1000.00<span>oz</span></p>
							<p class="type">Silver</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="sub-total-vault platium">
							<p class="price">£0.00</p>
							<p class="quantity">0<span>oz</span></p>
							<p class="type">Platium</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="vault-actions text-center">
				</div>
			</div>
		</div>
	</div>
</div>